backend/node_modules
backend/.env
backend/yarn.*

moveit-next/node_modules
moveit-next/yarn.*
moveit-next/.pnp
moveit-next/.pnp.js

moveit-next/coverage

moveit-next/.next/
moveit-next/out/

moveit-next/build

moveit-next/.DS_Store
moveit-next/*.pem

moveit-next/npm-debug.log*
moveit-next/yarn-debug.log*
moveit-next/yarn-error.log*

moveit-next/.env.local
moveit-next/.env.development.local
moveit-next/.env.test.local
moveit-next/.env.production.local

moveit-next/.vercel
